<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900,900i&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <link rel="preload" href="/images/loader.svg" as="image">
  </head>
  <body>
    <div class="container-fluid main-wrapper">
      <%- include('sections/top') %>
      <%- include('./menu') %>
      <%- include('./modal') %>
      <%- include('sections/header') %>
      <%- include('sections/about') %>
      <%- include('sections/teachers') %>
      <%- include('sections/numbers') %>
      <%- include('sections/process') %>
      <%- include('sections/reviews') %>
      <%- include('sections/footer') %>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
